<h1>Home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<br>
<%= link_to "To make a new page...", about_path %>
<br><br>
<%= link_to "Uploading pics...", pics_path %>
<br><br>
<p>Image upload based heavily on Paul Bates' railscasts <br>
<a id="indent1" href="http://railscasts.com/episodes/253-carrierwave-file-uploads">http://railscasts.com/episodes/253-carrierwave-file-uploads</a>
</p>
